email = youremail@email.com
always-auth = true
registry=https://bancoagromercantilgt.jfrog.io/artifactory/api/npm/0001-general-npm/
//bancoagromercantilgt.jfrog.io/artifactory/api/npm/0001-general-npm/:_authToken=cmVmdGtuOjAxOjE3NzM4NjkzMzM6ZEVUMFhoSkN0T0c1cTVhYkVWVkt1VXRtNkZn